/* For [[User:GuoPC/js/NavboxNotLinked.js]]
   Based on [[User:鬼影233/moeskinplus.css]] */

body:not(.skin-vector) .catlinks#catlinks > #not-linked-articles {
	flex-basis: 100%;
}

body:not(.skin-vector) #not-linked-articles > hr {
	border: 1px dashed rgba(var(--theme-accent-color--rgb), 0.3);
	margin-bottom: 1em;
}

body:not(.skin-vector) #not-linked-articles-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em 0.5em;
	margin-top: 1em;
}

body:not(.skin-vector) #not-linked-articles-list > li > a {
	border: 1px dotted rgba(var(--theme-accent-color--rgb), 0.3);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(var(--theme-accent-color--rgb), 0.1);
	color: var(--theme-accent-color);
	line-height: 2;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

body:not(.skin-vector) #not-linked-articles-list > li > a:hover {
	background-color: var(--theme-button-color) !important;
	color: var(--theme-accent-link-color);
}

body:not(.skin-vector) #not-linked-articles-list > li > a:active {
	background-color: var(--theme-button-color--active) !important;
}
