@import url('https://cdn.jsdelivr.net/gh/MoegirlPediaInterfaceAdmins/MoegirlPediaInterfaceCodes@master/src/gadgets/Navigation_popups/MediaWiki:Gadget-popups.css');
@import url('https://fonts.font.im/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.font.im/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

/* NintendoFont */
@import url("https://mzh.moegirl.org.cn/index.php?title=User:Xzonn/NintendoFont.css&action=raw&ctype=text/css");
/* MoeSkinPlus - for MoeSkin */
@import url("https://mzh.moegirl.org.cn/index.php?title=User:鬼影233/moeskinplus.css&action=raw&ctype=text/css");
/* MoeLatte - for MoeSkin */
@import url("https://mzh.moegirl.org.cn/index.php?title=User:GuoPC/MoeLatte.css&action=raw&ctype=text/css");

/* Specific font for certain characters:
   - Em Dash (2014)
   - Single Quotation Marks (2018, 2019)
   - Double Quotation Marks (201C, 201D)
   - Horizontal Ellipsis (2026) */
@font-face {
	font-family: "SHSans Full-Width Punctuation";
	src: local("Source Han Sans SC");
	unicode-range: U+2014, U+2018, U+2019, U+201C, U+201D, U+2026;
}

/* Customized fonts */
body {font-family: "SHSans Full-Width Punctuation", Lato, Inter, sans-serif, "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", NospzGothicMoe !important;}
span[lang="ja"] {font-family: YakuHanJP, "Kozuka Gothic Pro", sans-serif;}
span[lang="zh-Hant"], span[lang="zh-TW"] {font-family: "Taipei Sans TC Beta", sans-serif;}
span[lang="zh-HK"] {font-family: "Chiron Sans HK Pro VF", sans-serif;}
span[lang="el"], span[lang="ru"] {font-family: "Open Sans", sans-serif;}
html i span[lang="ja"], html span[lang="ja"] i, html [style*="italic"] span[lang="ja"], html span[lang="ja"] [style*="italic"], html span[lang="ja"][style*="italic"] {
	font-family: YakuHanRP, "FOT-TsukuBRdGothic Std", "M PLUS Rounded 1c", NospzGothicMoe, sans-serif !important;
	font-size: 1.05em;
	font-style: normal !important;
	margin-right: 0;
}
sup[class^="markrights"], sup.detailedBlockInfo {font-family: "LXGW WenKai", sans-serif;}
table[border="1"] span {font-family: inherit !important;}
.ace_editor, .ace_editor *, pre, code, kbd, samp, tt {font-family: "Sarasa Term SC", monospace !important;}
.CtxtMenu_MenuArrow {font-family: inherit !important;}
.diff-context div, .diff-addedline div, .diff-deletedline div, .diffchange, .mw-charinsert-item {font-family: monospace;}
.disambig-box {font-family: Lato, Arial, sans-serif, NospzGothicMoe;}
.fans-medal-item {font-family: "HarmonyOS Sans SC", sans-serif !important;}
.mw-parser-output .chem {font-family: "Cambria Math", serif !important;}
.mw-parser-output .ztdh .ztdh-title {font-family: sans-serif !important;}
.kancolle-nav-title {font-family: serif !important;}
.Wikiplus-Banner {font-family: sans-serif !important;}

/* Colored special links and more */
/* There are 5 situations as follows:
   1. Basic links only ([[Link]]); 
   2. Links are under toggled-on heimus ({{Heimu|[[Link]]}} - toggled on); 
   3. Links contain toggled-on heimus ([[Link|{{Heimu}}]] - toggled on);
   4. Links are under heimus ({{Heimu|[[Link]]}});
   5. Links contain heimus ([[Link|{{Heimu}}]]) */
/* For a.decoded, see common.js L33 */

/* Preparation: Common styles for marks */
a.mw-redirect::after,
a.mw-disambig::after,
a.mw-redirect.mw-disambig::after,
a.extiw::after,
a.stub::after,
a.stub.mw-disambig.mw-disambig::after,
a.decoded::after {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 -12px -10px 0;
	transform: scale(50%);
	transform-origin: top left;
}
.mw-unwatch-link::after {display: none !important;}

/* - Preparation: Keep visually hidden under heimus */
span.heimu a.mw-redirect, span.heimu a.mw-redirect:visited,
span.heimu a.mw-disambig, span.heimu a.mw-disambig:visited,
span.heimu a.extiw, span.heimu a.extiw:visited,
span.heimu a.stub, span.heimu a.stub:visited,
span.heimu a.stub.mw-disambig, span.heimu a.stub.mw-disambig:visited {
	transition: color .13s linear;
	color: #252525;
	text-shadow: none;
}

/* - Redirections */
a.mw-redirect,
body.heimu_toggle_on span.heimu a.mw-redirect,
body.heimu_toggle_on a.mw-redirect span.heimu,
span.heimu:hover a.mw-redirect,
a.mw-redirect:hover span.heimu {color: #B0D;}

/* - Redirections - visited */
a.mw-redirect:visited,
body.heimu_toggle_on span.heimu a.mw-redirect:visited,
body.heimu_toggle_on a.mw-redirect:visited span.heimu,
span.heimu:hover a.mw-redirect:visited,
a.mw-redirect:visited:hover span.heimu {color: #9A00B6;}

/* - Redirections - mark: A FLAG */
a.mw-redirect::after {
	background: #B0D;
	clip-path: path('M3 3H12.382C12.7607 3 13.107 3.214 13.2764 3.55279L14 5H20C20.5523 5 21 5.44772 21 6V17C21 17.5523 20.5523 18 20 18H13.618C13.2393 18 12.893 17.786 12.7236 17.4472L12 16H5V22H3V3Z');
}

/* - Disambiguations */
a.mw-disambig,
body.heimu_toggle_on span.heimu a.mw-disambig,
body.heimu_toggle_on a.mw-disambig span.heimu,
span.heimu:hover a.mw-disambig,
a.mw-disambig:hover span.heimu {color: #D27138;}

/* - Disambiguations - visited */
a.mw-disambig:visited,
body.heimu_toggle_on span.heimu a.mw-disambig:visited,
body.heimu_toggle_on a.mw-disambig:visited span.heimu,
span.heimu:hover a.mw-disambig:visited,
a.mw-disambig:visited:hover span.heimu {color: #AF5A28;}

/* - Disambiguations - mark: A GUIDE */
a.mw-disambig::after {
	background: #FF8921;
	clip-path: path('M13 8V16C13 17.6569 11.6569 19 10 19H7.82929C7.41746 20.1652 6.30622 21 5 21C3.34315 21 2 19.6569 2 18C2 16.3431 3.34315 15 5 15C6.30622 15 7.41746 15.8348 7.82929 17H10C10.5523 17 11 16.5523 11 16V8C11 6.34315 12.3431 5 14 5H17V2L22 6L17 10V7H14C13.4477 7 13 7.44772 13 8Z');
}

/* - For links are both redirections and disambiguations, I call them "REDIR-DISAM links" - A ROUTE */
a.mw-redirect.mw-disambig::after {
	background: #FF6421;
	clip-path: path('M4 15V8.5C4 6.01472 6.01472 4 8.5 4C10.9853 4 13 6.01472 13 8.5V15.5C13 16.8807 14.1193 18 15.5 18C16.8807 18 18 16.8807 18 15.5V8.82929C16.8348 8.41746 16 7.30622 16 6C16 4.34315 17.3431 3 19 3C20.6569 3 22 4.34315 22 6C22 7.30622 21.1652 8.41746 20 8.82929V15.5C20 17.9853 17.9853 20 15.5 20C13.0147 20 11 17.9853 11 15.5V8.5C11 7.11929 9.88071 6 8.5 6C7.11929 6 6 7.11929 6 8.5V15H9L5 20L1 15H4Z');
}

/* - Interwiki links, not Moegirl ones - visited */
a.extiw:not([href*=".moegirl.org.cn"]):visited,
body.heimu_toggle_on span.heimu a.extiw:not([href*=".moegirl.org.cn"]):visited,
body.heimu_toggle_on a.extiw:not([href*=".moegirl.org.cn"]):visited span.heimu,
span.heimu:hover a.extiw:not([href*=".moegirl.org.cn"]):visited,
a.extiw:not([href*=".moegirl.org.cn"]):visited:hover span.heimu {color: #00886A;}

/* - Interwiki links - mark: A GLOBE */
a.extiw:not([href*=".moegirl.org.cn"])::after {
	background: #00AF89;
	clip-path: path('M13.0003 20.9998H18.0003V22.9998H6.00032V20.9998H11.0003V19.9505C7.70689 19.6235 4.88351 17.6986 3.31641 14.9621L5.05319 13.9696C6.43208 16.3775 9.02674 17.9998 12.0003 17.9998C16.4186 17.9998 20.0003 14.4181 20.0003 9.99983C20.0003 7.02625 18.378 4.43159 15.9701 3.0527L16.9626 1.31592C19.9724 3.03953 22.0003 6.28285 22.0003 9.99983C22.0003 15.1852 18.0536 19.4487 13.0003 19.9505V20.9998ZM12.0003 16.9998C8.13433 16.9998 5.00032 13.8658 5.00032 9.99983C5.00032 6.13384 8.13433 2.99983 12.0003 2.99983C15.8663 2.99983 19.0003 6.13384 19.0003 9.99983C19.0003 13.8658 15.8663 16.9998 12.0003 16.9998Z');
}

/* - Moegirl links */
a.extiw[href*=".moegirl.org.cn"],
body.heimu_toggle_on span.heimu a.extiw[href*=".moegirl.org.cn"],
body.heimu_toggle_on a.extiw[href*=".moegirl.org.cn"] span.heimu,
span.heimu:hover a.extiw[href*=".moegirl.org.cn"],
a.extiw[href*=".moegirl.org.cn"]:hover span.heimu {color: #E7BB5E;}

/* - Moegirl links - visited */
a.extiw[href*=".moegirl.org.cn"]:visited,
body.heimu_toggle_on span.heimu a.extiw[href*=".moegirl.org.cn"]:visited,
body.heimu_toggle_on a.extiw[href*=".moegirl.org.cn"]:visited span.heimu,
span.heimu:hover a.extiw[href*=".moegirl.org.cn"]:visited,
a.extiw[href*=".moegirl.org.cn"]:visited:hover span.heimu {color: #D79C20;}

/* - Moegirl links - mark: A HEART */
a.extiw[href*=".moegirl.org.cn"]::after {
	background: #E7BB5E;
	clip-path: path('M20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C5.51545 2.99926 8.09315 2.56029 10.2605 3.44044L6.34315 7.35843L7.75736 8.77264L12 4.53L11.9872 4.51617C11.9918 4.52028 11.9964 4.5244 12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736Z');
}

/* - Stubs */
a.stub,
body.heimu_toggle_on span.heimu a.stub,
body.heimu_toggle_on a.stub span.heimu,
span.heimu:hover a.stub,
a.stub:hover span.heimu {color: #2293CE;}

/* - Stubs - visited */
a.stub:visited,
body.heimu_toggle_on span.heimu a.stub:visited,
body.heimu_toggle_on a.stub:visited span.heimu,
span.heimu:hover a.stub:visited,
a.stub:visited:hover span.heimu {color: #1A73A2;}

/* - Stubs - mark: A LEAF */
a.stub::after {
	background: #2293CE;
	clip-path: path('M20.998 3V5C20.998 14.6274 15.6255 19 8.99805 19L7.0964 18.9999C7.3079 15.9876 8.24541 14.1648 10.6939 11.9989C11.8979 10.9338 11.7965 10.3189 11.2029 10.6721C7.1193 13.1016 5.09114 16.3862 5.00119 21.6302L4.99805 22H2.99805C2.99805 20.6373 3.11376 19.3997 3.34381 18.2682C3.1133 16.9741 2.99805 15.2176 2.99805 13C2.99805 7.47715 7.4752 3 12.998 3C14.998 3 16.998 4 20.998 3Z');
}

/* - For links are both stubs and disambiguations, I call them "STUB-DISAM links" */
a.stub.mw-disambig.mw-disambig,
body.heimu_toggle_on span.heimu a.stub.mw-disambig.mw-disambig,
body.heimu_toggle_on a.stub.mw-disambig.mw-disambig span.heimu,
span.heimu:hover a.stub.mw-disambig.mw-disambig,
a.stub.mw-disambig.mw-disambig:hover span.heimu {color: #0699AD;}

/* - STUB-DISAM links - visited */
a.stub.mw-disambig.mw-disambig:visited,
body.heimu_toggle_on span.heimu a.stub.mw-disambig.mw-disambig:visited,
body.heimu_toggle_on a.stub.mw-disambig.mw-disambig:visited span.heimu,
span.heimu:hover a.stub.mw-disambig.mw-disambig:visited,
a.stub.mw-disambig.mw-disambig:visited:hover span.heimu {color: #046D7C;}

/* - STUB-DISAM links - mark: A SEEDLING */
a.stub.mw-disambig::after {
	background: #0699AD;
	clip-path: path('M21.998 7V9.5C21.998 13.0899 19.0879 16 15.498 16H12.998V21H10.998V14L11.0169 13.0007C11.2719 9.64413 14.0762 7 17.498 7H21.998ZM5.99805 3C9.0904 3 11.7144 5.00519 12.6408 7.78626C11.1417 9.06119 10.1516 10.9143 10.0144 13.0004L8.99805 13C5.13205 13 1.99805 9.86599 1.99805 6V3H5.99805Z');
}

/* - Decoded links - mark: A PERCENT */
a.decoded::after {
	background: #5D636F;
	clip-path: path('M17.5049 21.0029C15.5719 21.0029 14.0049 19.4359 14.0049 17.5029C14.0049 15.5699 15.5719 14.0029 17.5049 14.0029C19.4379 14.0029 21.0049 15.5699 21.0049 17.5029C21.0049 19.4359 19.4379 21.0029 17.5049 21.0029ZM6.50488 10.0029C4.57189 10.0029 3.00488 8.43593 3.00488 6.50293C3.00488 4.56993 4.57189 3.00293 6.50488 3.00293C8.43788 3.00293 10.0049 4.56993 10.0049 6.50293C10.0049 8.43593 8.43788 10.0029 6.50488 10.0029ZM19.076 3.51765L20.4902 4.93186L4.93382 20.4882L3.5196 19.074L19.076 3.51765Z');
}

/* Customized blockquotes */
blockquote {
	display: flow-root;
	background: #E4F5E688;
	border-left: 3px #8ED598 solid;
	padding: 10px 50px !important;
	position: relative;
}
blockquote::before {
	content: "「" !important;
	position: absolute;
	top: 10px;
	left: 5px;
	font-size: 1.5rem;
	color: #D5EFD9;
}
blockquote::after {
	content: "」" !important;
	position: absolute;
	bottom: 10px;
	right: 5px;
	font-size: 1.5rem;
	color: #D5EFD9;
}

/* Customized edit abbrs, for .unpatrolled, see common.js */
.newpage {color: green;}
.minoredit {color: gray;}
.botedit, .minoredit, .newpage, .unpatrolled {
	display: inline-block;
	transform: scaleX(60%);
}
.mw-enhanced-rc abbr {margin-right: -7px;}

/* Customized colors for wikitable-green */
.wikitable-green th {background: #97EEC5;}
.wikitable-green td {background: #FFFE;}

/* Colored selection */
::selection {
	background: #EB8097;
	color: #FFF;
}
.diff-context ::selection {
	background: #6C7A96;
	color: #FFF;
}
.diff-deletedline ::selection {
	background: #FFBF13;
	color: #FFF;
}
.diff-addedline ::selection {
	background: #0688FF;
	color: #FFF;
}

/* Become rounded */
code, fieldset, pre, 
.ajaxpoll, .ajaxpoll .ajaxpoll-answer-vote, 
.ajaxpoll .ajaxpoll-answer-vote div, 
.ajaxpoll .ajaxpoll-hover-revoke, 
.bilibili-video-container.exec, 
.errorbox, .infobox, .infoBox, 
.mmdPreviewer-hoverbox, 
.mw-body, .mw-changeslist-legend, 
.mw-revslider-container, 
.mw-warning-with-logexcerpt, 
.navbox, .navpopup, .saveNotice, 
.Tabs .TabContent, .Tabs .TabLabelText, 
.template-documentation, .thumb, .thumbinner, 
.toccolours, .tocfloatlabel, .tracklist, 
.vertical-navbox, .ztdh, 
#catlinks, #mw-rev-deleted-no-diff, #p-personal, 
#talkPageTop_saves, #toc, #userboxes, #bottomRightCorner div, 
.comment-avatar img, .oldTalkPageSave div, 
.my-buttons a {border-radius: 2px;}
.editOptions {border-radius: 0 0 2px 2px;}

/* Customized hovering and unhovering lyrics */
.mw-parser-output .bg_hover {
	border-radius: 3px;
	transition: all ease-out .5s;
}
.mw-parser-output .bg_hover:hover {
	backdrop-filter: blur(5px);
	background: #4441 !important;
	transition: all ease-in .2s;
}

/* Customized mahjong */
.mahjong {margin: 0 5px;}
.mw-parser-output .aka {
	color: transparent !important;
	filter: none !important;
	text-shadow: 0 0 #A50000;
}
.mw-parser-output .ao {
	color: transparent !important;
	filter: none !important;
	text-shadow: 0 0 #008040;
}

/* Customized MathJax UI */
.CtxtMenu_Menu {box-shadow: 0 0 .5rem #0002 !important;}
.CtxtMenu_Info {
	background: #F8F9FA !important;
	border: #A2A9B1 1px solid !important;
	border-radius: 5px !important;
	box-shadow: 0 0 .5rem #0002 !important;
	font-family: Bahnschrift, sans-serif !important;
}
.CtxtMenu_InfoContent {
	border: none !important;
	padding: 0 !important;
}
.CtxtMenu_InfoContent pre {
	cursor: text;
	font-family: Jetbrains Mono, monospace !important;
	font-size: .95em !important;
	margin: 0;
	padding: .5em;
}
.CtxtMenu_InfoSignature input {font-family: Inter, sans-serif;}

/* Customized usergroups */
.markrights-extendedconfirmed {color: #8D8DAA !important;}
.markrights-file-maintainer {color: #895737 !important;}
.markrights-ipblock-exempt {color: #6885d7 !important;}
.markrights-checkuser::after {content: "核" !important;}
.markrights-flood::after {content: "洪" !important;}
.markrights-scripteditor::after {content: "稿" !important;}

/* Colored QuickEdit */
#ca-lr-ns2d a {color: #800;}
#ca-okp a {color: #98D;}
#Wikiplus-Edit-TopBtn span a, #Wikiplus-Settings-Intro a,
#Wikiplus-SR-Intro a, #wphl-settings a, 
.Wikiplus-Edit-SectionBtn,div.vectorTabs li a.Wikiplus-Edit-SectionBtn,
.Wikiplus-Edit-EveryWhereBtn {color: #40C040;}
.AnnTools_MarkAsResolved {color: green;}

/* Wikiplus */
.Wikiplus-InterBox .wikiEditor-ui-clear {margin: 5px;}
#Wikiplus-Quickedit-Summary-Input {font-family: inherit;}
#Wikiplus-Quickedit-Preview-Submit, #Wikiplus-Quickedit-Submit {
	background: #FFF;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px #aaa;
	font-family: inherit;
	margin: 5px 5px 0 5px;
	padding: 2px 10px;
	transition: all .2s ease-out;
}
.Wikiplus-Btn {
	border-radius: 2px;
	margin: 5px 10px 10px 0 !important;
	padding: .4em 1em !important;
	transition: all .2s ease-out;
}
#Wikiplus-Quickedit-Preview-Submit:hover, #Wikiplus-Quickedit-Submit:hover,
.Wikiplus-Btn:hover {background: #F4F4F4;}
.wphl-lint-subpanel {
	display: inline-flex;
	align-items: center;
}
.wphl-lint-count {width: auto !important;}

/* Homepage */
#moe-homeland-app * {font-family: inherit !important;}
#moe-homeland-app .site-statistics .extra-buttons > a:last-child, 
#moe-homeland-app .social-links, .banner-slider-container {display: none;}
.home-right .n-button:hover {text-decoration: none;}
.n-popover {max-width: 25em;}
.n-tabs-nav-scroll-wrapper {border-radius: .5em;}
.n-tabs .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-before::before {box-shadow: inset 10px 0 8px -5px rgba(0, 0, 0, .05) !important;}
.n-tabs .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-after::after {box-shadow: inset -10px 0 8px -5px rgba(0, 0, 0, .05) !important;}
.simple-card {width: 195px !important;}
.simple-card .topic-thumb img {width: 75% !important;}
.topic-list > .capsule-card {
	position: relative;
	align-items: flex-start !important;
	width: 7rem !important;
	height: 10rem !important;
}
.topic-list > .capsule-card .topic-thumb {
	z-index: 0;
	display: flex;
	justify-content: center;
	border-radius: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
.topic-list > .capsule-card .topic-text {
	position: absolute;
	top: calc(100% - 1.8em);
	z-index: 1;
	backdrop-filter: saturate(5) blur(20px);
	background: #FFFA;
	border-radius: .5em;
	width: 100% !important;
	height: 100%;
	transition: all ease-in-out .3s;
}
.topic-list > .capsule-card:hover .topic-text {top: 4em;}
.topic-list > .capsule-card .topic-name {
	font-size: 1.05em;
	padding: 0 .2em;
}
.topic-list > .capsule-card:hover .topic-name {white-space: normal;}
.topic-list > .capsule-card .topic-desc {
	color: #555 !important;
	line-height: 1.5em;
	padding: .2em;
	word-break: break-all;
}
.topic-list > .capsule-card * {transition: all ease-in-out .2s;}
.topic-list > .capsule-card img {
	position: unset !important;
	transform: none !important;
	width: unset !important;
	max-width: unset !important;
}
.topic-list > .capsule-card:hover img {transform: scale(1.1) !important;}

/* Homepage - legacy */
.moegirlSister {flex-wrap: wrap;}
.moegirlSister_container {
	margin-right: 0 !important;
	min-width: 15em;
}
.moegirlSister_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 70px;
	padding: 0 !important;
}

/* Other */
body > div[style*="-99999"], body > pre[style*="-99999"] {display: none;}
body .ui-dialog {
	background: #FFF;
	padding: 0;
}
body .ui-dialog .ui-widget-header {
	background: #F2F2F2 !important;
	border: none;
	border-bottom: #CCC 1px solid;
	border-radius: 0;
	padding: .5em 1em !important;
}
h4 {font-size: 1.1em !important;}
pre {
	display: flow-root;
	tab-size: 4;
}
span.comment {font-style: oblique 6deg;}
table.mw-changeslist-line {background: inherit;}
#moe-draw-float-button {
	right: 100% !important;
	transform: rotate(50deg);
}
#moe-draw-float-button:hover {
	right: calc(100% - var(--size) / 1.2) !important;
	transform: rotate(0);
}
#profile {transition: all .2s ease-out;}
#topicpath {
	border: none !important;
	background: #FFFA !important;
	margin: .6em 0 !important;
	box-shadow: 0 -.2em 0 #0002 inset;
}
#wikiPreview .annotation {position: relative;}
.annotation > .annotation-content {display: none;}
.annotation > span:first-child:hover ~ .annotation-content {
	display: block;
	position: absolute;
	background: #333C;
	backdrop-filter: blur(5px);
	border-radius: 2px;
	font-weight: normal;
	line-height: 1.4em;
	word-break: break-all;
	white-space: break-spaces;
	width: 11em;
	padding: .6em;
}
.ActivityBannerArrow {border-radius: 0 !important;}
.ActivityBannerContainer:hover .ActivityBannerArrow {background-color: #0001 !important;}
.ajaxpoll input {vertical-align: baseline;}
.common-box, .mw-notification, .navpopup {box-shadow: 0 0 .5rem #0002 !important;}
.diff-addedline, .diff-deletedline, .diff-context {vertical-align: middle;}
.echart-main {position: relative;}
.echart-main > div[style*="absolute"] {
	border: #CCC 1px solid;
	border-radius: 2px;
	width: 30em;
	inset: auto !important;
	top: 50% !important;
	left: 50% !important;
	transform: translateX(-50%) translateY(-50%);
}
.echart-main > div[style*="absolute"] > h4 {
	background: #F2F2F2;
	font-size: 1em !important;
	text-align: left;
	margin: 0 !important;
	padding: .5em 1em;
}
.echart-main > div[style*="absolute"] > div:nth-child(2) textarea {
	border: none !important;
	width: max-content !important;
	margin: 0 !important;
	padding: 0 !important;
}
.echart-main > div[style*="absolute"] > div:last-child {
	right: 1em !important;
	bottom: .5em !important;
}
.echart-main > div[style*="absolute"] > div:last-child div {
	border-radius: 2px !important;
	transition: all ease-in .2s;
}
.echart-main > div[style*="absolute"] > div:last-child div:hover {
	background: #D35653 !important;
	transition: all ease-in .2s;
}
.oo-ui-labelElement-label, .mw-editTools {font-size: 0.9em;}
.hljs-color {line-height: 1.15rem;}
.infoBox[style*="solid orange"], .infoBox[style*="solid red"] {display: inherit !important;}
.infoBoxContent {
	background: #FBFBFBBB;
	border: none;
}
.keyboard-key {
	background: #FFF !important;
	border: 2px solid #CDCDCD !important;
	border-radius: 3px !important;
	box-shadow: inset 0 -1px 0 0 #CDCDCD !important;
	font-family: monospace !important;
	font-size: .9em !important;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	padding: 2px 3px !important;
	margin: 0 2px;
	vertical-align: text-bottom;
}
.mw-datatable.TablePager {display: table;}
.mw-parser-output .fakelink {cursor: not-allowed !important;}
.mw-parser-output .fakelink::after {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 -12px -10px 0;
	transform: scale(50%);
	transform-origin: top left;
	clip-path: path('M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM7 11V13H17V11H7Z');
	background: #0645AD;
}
.mw-tag-markers {font-size: 90%;}
.need-comma a::after {content: none !important;}
.need-comma > span::after {content: "、";}
.soultide-img {
	border: #3E4556 5px double;
	height: max-content;
	margin: .5em 1em;
}
.soultide-info {
	background: #F5F1EF;
	margin: .5em 1em .5em .5em;
}
.soultide-info > div:last-child {position: relative;}
.soultide-info-title {
	background: #3E4556 !important;
	color: #C2A499;
	padding: .5em !important;
}
.soultide-info-content {
	background: inherit !important;
	color: #454545;
	padding: .5em .3em !important;
}
.soultide-info .mw-collapsible-toggle {
	top: .45em;
	right: .5em !important;
	-webkit-text-fill-color: #FFF;
}
.template-ruby-hidden {user-select: none;}
.textToggleDisplayButtonLabel {
	box-shadow: none !important;
	border-width: 2px 2px 2px 4px !important;
}
.textToggleDisplayButtonLabel.cancelButton {
	margin: 0 4px;
	height: .97rem !important;
	line-height: .9rem !important;
}
.userlink-label {white-space: nowrap;}
.userlink-menu {
	border-radius: 2px;
	border-top-width: 3px !important;
	padding-top: 0 !important;
}
.userlink-item:hover a {text-decoration: none;}