/* MoeLatte */
::selection {
	background: #dcf8fa;
	color: var(--theme-text-color);
}

/* Temp fix: Mobile Wikiplus button */
#Wikiplus-Edit-TopBtn {
	background-color: initial !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	width: auto !important;
}

/* Subtitle alignment */
#subtitle .xicon {height: 1.2em !important;}

/* Catlinks: Not listed articles list */
.catlinks#catlinks > div > ul#not-listed-articles-list > li:hover {background: yellow;}
.catlinks#catlinks > div > ul#not-listed-articles-list > li:hover a {color: var(--color);}

/* Header */
#moe-full-container #moe-global-header, #moe-user-dropdown-body, .sidenav-inner {
	backdrop-filter: blur(3px);
	background: #FFFD;
}
#moe-user-dropdown {padding: 1px;}
.n-popover__content {width: auto !important;}
.user-contrib-stats {background: transparent !important;}
.n-tab-pane.sitenotice #moeskin-sitenotice ul.scrollDiv li {font-size: .9em;}
.n-tab-pane.sitenotice #moeskin-sitenotice ul {
	list-style: circle;
	margin-top: 1em;
}
.menu-option-raw img {height: unset !important;}
@media (min-width: 768px) {
	#moe-topbanner-container, 
	.moe-userdropdown-aboutme .n-menu-item:nth-child(2), 
	.moe-userdropdown-aboutme .n-menu-item:nth-child(3) {display: none;}
}

/* Siderail */
.sitenotice-main > div:nth-child(2), 
.moe-community-artwork, 
#moe-siderail-sitenotice #moeskin-sitenotice, 
#moe-sitenotice-container .show-more, 
#p-sl h3 ~ div > div {display: none;}
.sitenotice-main > div > :not(h2) {font-size: 1rem;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#ca-lr-ns2d a {color: #800;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#ca-okp a {color: #98D;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#wphl-settings a {color: #40C040;}

/* Footer */
#moe-global-footer {
	border-radius: .5em;
	margin: 0 auto;
	overflow: hidden;
	width: 95%;
}
#moe-global-footer-bottom p {line-height: 1.2em;}
#footer-copyright-text .flex.gap-1 {display: none;}

/* 窄屏 */
@media (max-width: 768px) {
	#mw-body {overflow-x: auto;}
	.mobile-edit-button {justify-content: center;}
}

/* Colored QuickEdit */
#Wikiplus-Settings-Intro a:hover, 
#Wikiplus-SR-Intro a:hover {color: var(--theme-accent-link-color);}

/* 赚(huí)钱(běn) */
body {overflow: initial !important;}
body div.fc-ab-root {display: none !important;}

/* Other */
body {background: #F7FAFD;}
kbd, kbd:active {all: revert !important;}
/* article div[data-v-app], .adsbyezoic, .google-auto-placed, #ezcnxplayer, */
.desktop-only .n-badge, .mobile-only .n-badge, 
#moe-global-background, #moe-open-in-app {display: none;}
/* .adsbygoogle, .moe-card[style*="relative"] {display: none !important;} */
.keyboard-key {vertical-align: initial;}
.navbox {border-collapse: separate;}
#firstHeading {font-weight: 300 !important;}
#moe-float-toc-trigger {
	box-shadow: 0 0 .5rem #0002 !important;
	display: flex;
}
#mw-content-text ol, .mw-parser-output ol {margin: 1rem !important;}