/* MoeLatte */
::selection {
	background: #dcf8fa;
	color: var(--theme-text-color);
}

/* Temp fix */
.mw-highlight {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .5em;
	overflow: hidden;
}
.mw-highlight pre {
	border: none !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: .5em 0 .5em 3.5em !important;
}

/* Customized fonts */
.mw-body-content h1, .mw-body-content h2 {font-family: inherit;}

/* Header */
#moe-user-dropdown {padding: 2px;}
.user-contrib-stats {background: transparent !important;}
.n-tab-pane.sitenotice #moeskin-sitenotice ul.scrollDiv li {font-size: .9em;}
.n-tab-pane.sitenotice #moeskin-sitenotice ul {
	list-style: circle;
	margin-top: 1em;
}
.menu-option-raw img {height: unset !important;}
.nav-user-link-popover {text-transform: uppercase;}
.user-avatar-wrapper .avatar-badge {display: none !important;}
.links-area > div.flex:last-child, 
.mobile-grandpa-link, #grandpa-entrance, 
.user-area > .flex:first-child, .user-links #vip, 
.user-page-link > div > a:last-child, #user-actions-vip, 
.v-binder-follower-content[v-placement="bottom-start"] {display: none;}

/* Siderail */
.sitenotice-main > div:nth-child(2), 
.moe-community-artwork, 
#moe-siderail-sitenotice #moeskin-sitenotice, 
#moe-sitenotice-container .show-more, 
#p-sl h3 ~ div > div {display: none;}
.sitenotice-main > div > :not(h2) {font-size: 1rem;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#ca-lr-ns2d a {color: #800;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#ca-okp a {color: #98D;}
body.skin-moeskin #moe-custom-sidenav-block-list > li#wphl-settings a {color: #40C040;}

/* Page tools area */
#ca-inpageedit > span > span {
	font-family: "Product Sans", sans-serif !important;
	font-size: 0.75em !important;
	font-weight: bold !important;
	user-select: none;
}
#ca-inpageedit:focus {text-decoration: none;}
#ca-move > span {
	background: var(--theme-button-color);
	clip-path: path('M12 1L21.5 6.5V17.5L12 23L2.5 17.5V6.5L12 1ZM5.49388 7.0777L13.0001 11.4234V20.11L19.5 16.3469V7.65311L12 3.311L5.49388 7.0777ZM4.5 8.81329V16.3469L11.0001 20.1101V12.5765L4.5 8.81329Z');
	transform: scale(.5);
	width: 24px;
	height: 24px;
	margin: -10px -6px;
}
#ca-dt-page-subscribe > span {
	background: var(--theme-button-color);
	clip-path: path('M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM18 17V10C18 6.68629 15.3137 4 12 4C8.68629 4 6 6.68629 6 10V17H18ZM9 21H15V23H9V21Z');
	transform: scale(.5);
	width: 24px;
	height: 24px;
	margin: -10px -6px;
}
#ca-move > span svg,
#ca-dt-page-subscribe > span svg {display: none;}
#ca-more-actions #Wikiplus-SR-Intro a::before {
	content: '';
	display: inline-block;
	background: var(--theme-button-color);
	clip-path: path('M12 5H17.4142L21.7071 9.29289C22.0976 9.68342 22.0976 10.3166 21.7071 10.7071L17.4142 15H12V22H10V15H4C3.44772 15 3 14.5523 3 14V6C3 5.44772 3.44772 5 4 5H10V2H12V5ZM16.5858 13L19.5858 10L16.5858 7H5V13H16.5858Z');
	transform: scale(.5);
	transform-origin: center .75em;
	width: 24px;
	height: 24px;
	margin: -10px -6px;
}
#ca-more-actions #Wikiplus-Settings-Intro a::before {
	content: '';
	display: inline-block;
	background: var(--theme-button-color);
	clip-path: path('M7 3V6H3V8H7V11H9V3H7ZM11 8H21V6H11V8ZM17 13V16H21V18H17V21H15V13H17ZM13 18H3V16H13V18Z');
	transform: scale(.5);
	transform-origin: center .75em;
	width: 24px;
	height: 24px;
	margin: -10px -6px;
}
#ca-wikiplus {cursor: pointer;}
.tools-extra .page-tool-link .icon.icon-tabler-alert-triangle {
	margin-left: 0;
	opacity: 1;
}
#moe-page-tools > .content-actions > #Wikiplus-Edit-TopBtn {display: none;}

/* Footer */
#moe-global-footer {
	border-radius: .5em;
	margin: 0 auto;
	overflow: hidden;
	width: 95%;
}
#moe-global-footer-bottom p {line-height: 1.2em;}
#footer-copyright-text .flex.gap-1 {display: none;}

/* 窄屏 */
@media (max-width: 768px) {
	body .ajaxpoll {min-width: fit-content;}
	#mw-body {overflow-x: auto;}
	#t-uploader {
		display: inline-block;
		border-left: 1px solid rgb(162 169 177);
		margin-top: .25rem;
		margin-bottom: .25rem;
		padding-left: .5rem;
		padding-right: .5rem;
	}
	#t-uploader a {
		color: var(--theme-accent-color) !important;
	}
	.mainpage-newsbox .mobileonly {display: none;}
	.mainpage-newsbox .nomobile {
		display: block !important;
		position: inherit;
	}
	.mobile-edit-button {justify-content: center;}
	.mobile-edit-button #Wikiplus-Edit-TopBtn {
		background-color: initial !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		width: auto !important;
	}
	.mobile-edit-button #Wikiplus-Edit-TopBtn a {
		background: var(--theme-button-color) !important;
		border-radius: inherit !important;
		color: var(--theme-accent-link-color) !important;
	}
	#mobile-page-actions .purgecache.n-button {
		background: var(--theme-button-color) !important;
		color: var(--theme-accent-link-color) !important;
		--n-border-radius: 0.5rem !important;
	}
	#mobile-page-actions .purgecache.n-button::before {
		content: '';
		display: inline-block;
		background: var(--theme-accent-link-color);
		clip-path: path('M1 11C6.52285 11 11 6.52285 11 1H13C13 6.52285 17.4772 11 23 11V13C17.4772 13 13 17.4772 13 23H11C11 17.4772 6.52285 13 1 13V11ZM5.80342 12C8.56895 13.2093 10.7907 15.431 12 18.1966C13.2093 15.431 15.431 13.2093 18.1966 12C15.431 10.7907 13.2093 8.56895 12 5.80342C10.7907 8.56895 8.56895 10.7907 5.80342 12Z');
		transform: scale(.65);
		transform-origin: center 1.02em;
		width: 24px;
		height: 24px;
		margin-left: -5px;
	}
	.mobile-edit-button #Wikiplus-Edit-TopBtn a:hover,
	#mobile-page-actions .purgecache.n-button:hover {
		background-color: var(--theme-button-color--hover) !important;
		color: var(--theme-accent-link-color) !important;
	}
	.mobile-edit-button #Wikiplus-Edit-TopBtn a:active,
	#mobile-page-actions .purgecache.n-button:active,
	.mobile-edit-button #Wikiplus-Edit-TopBtn a:focus,
	#mobile-page-actions .purgecache.n-button:focus {
		background-color: var(--theme-button-color--active) !important;
		color: var(--theme-accent-link-color) !important;
	}
	.wikitable[border="0"][style*="float"][style*="right"], 
	.wikitable[style*="270px"]{
		float: none !important;
		margin: 0 !important;
		min-width: 100%;
	}
	.wikitable[style*="48%"] {min-width: 100%;}
}

/* Colored QuickEdit */
#Wikiplus-Settings-Intro a:hover, 
#Wikiplus-SR-Intro a:hover {color: var(--theme-accent-link-color);}

/* 赚(huí)钱(běn) */
body {overflow: initial !important;}
body div.fc-ab-root {display: none !important;}

/* Other */
body.heimu_toggle_on span.heimu a,
body.heimu_toggle_on a span.heimu,
span.heimu:hover a,
a span.heimu {color: var(--theme-link-color);}
a.selflink {
	color: var(--theme-text-color);
	font-weight: bold;
}
kbd, kbd:active {all: revert !important;}
/* article div[data-v-app], .adsbyezoic, .google-auto-placed, #ezcnxplayer, */
.desktop-only .n-badge, .mobile-only .n-badge,
.namespaces-links-list > li:empty,
.user-avatar-container .avatar-frame,
.user-avatar-wrapper .avatar-frame,
#moe-open-in-app {display: none;}
/* .adsbygoogle, .moe-card[style*="relative"] {display: none !important;} */
.comment-actions.relative > .absolute > .rounded-full {scale: .75;}
.comment-actions.relative > .absolute > .rounded-full svg {
	scale: .6;
	transform-origin: top left;
}
.comment-children .comment-item > .absolute > .absolute[left--23px=""] {left: -22px;}
.comment-header .comment-expression-to-article svg,
.wiki-page-reactions svg {stroke-width: 0;}
.diff.difftable {border-collapse: separate;}
.ext-discussiontools-init-section-subscribeButton.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {top: .35em;}
.keyboard-key {vertical-align: initial;}
.moe-float-button {
	display: flex;
	cursor: pointer;
}
.mw-rcfilters-ui-highlights-enhanced-nested {padding-left: 1em !important;}
.mw-rcfilters-ui-highlights-enhanced-toplevel:has(.mw-unwatch-link) ~ .mw-rcfilters-ui-highlights-enhanced-nested {padding-left: 2.3em !important;}
.mw-userlink {max-width: revert !important;}
.popupPreview h2 {
	color: var(--home-text-secondary-color);
	font-size: 1.2em;
	font-weight: bold;
	margin: .2em 0;
}
.v-binder-follower-content {--v-target-width: 10em !important;}
#firstHeading {font-weight: 300 !important;}
#mw-content-subtitle, #contentSub2 {margin: 0 !important;}
#not-linked-articles, #not-listed-articles {
	opacity: .8;
	font-size: 12px;
}