/* Specific font for certain characters:
   - Em Dash (2014)
   - Single Quotation Marks (2018, 2019)
   - Double Quotation Marks (201C, 201D)
   - Horizontal Ellipsis (2026) */
@font-face {
	font-family: "SHSerif Full-Width Quotation";
	src: local("Source Han Serif SC");
	unicode-range: U+2014, U+2018, U+2019, U+201C, U+201D, U+2026;
}

/* Customized fonts */
h2 .mw-headline span[lang="ja"] {font-family: YakuHanMP, "Kozuka Mincho Pro", serif;}
h2 .mw-headline span[lang="zh-Hant"], h2 .mw-headline span[lang="zh-TW"] {font-family: "I.MingCP", serif;}
h2 .mw-headline {font-family: "SHSerif Full-Width Quotation", "Linux Libertine", Georgia, Times, serif, "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji";}
#firstHeading span[lang="ja"] {font-family: YakuHanMP, "Source Serif 4", "Kozuka Mincho Pro", "Source Han Serif", serif !important;}
#firstHeading span[lang="ko"] {font-family: "Source Serif 4", "Source Han Serif", serif !important;}
#firstHeading span[lang="ru"] {font-family: "Source Serif 4", serif !important;}
#firstHeading[lang="zh-TW"] {font-family: "SHSerif Full-Width Quotation", "Source Serif 4", "Source Han Serif", serif !important;}
#firstHeading[lang="zh-HK"] {font-family: "Chiron Sung HK VF", serif !important;}
#firstHeading[lang="en"] {font-family: "Source Serif 4", "Source Han Serif SC", serif !important;}
#firstHeading {font-family: "SHSerif Full-Width Quotation", "Source Serif 4", serif !important;}
#footer-info-copyright {font-family: inherit;}

/* Customized headers */
h1, h2, h3, h4, h5, h6 {color: #222;}
h1, h2 {border-image: linear-gradient(to right, #EB8097, #E88849, #BF9D24, #7CAE58, #25B49A) 1;}
.mw-body-content h2 {padding-top: .1em;}

/* Customized personal label */
#p-personal {
	backdrop-filter: blur(5px);
	box-shadow: 0 0 .5rem #0002 !important;
	font-weight: 500;
	position: fixed;
	overflow-x: auto;
	max-width: 95%;
}
#p-personal ul {display: flex;}
#pt-avatar a {display: inline-block; padding: 4px 0;}
#pt-avatar a img {width: 20px;}
#pt-userstatus {margin-top: 12px !important;}
.pt-userstatus-img {width: 15px !important;}
.mw-notification-area-floating {top: 4em;}

/* Wiki logo */
#mw-panel #p-logo {min-height: 300px;}
#mw-panel #p-logo .mw-wiki-logo {
	background-position: center !important;
	min-height: 100%;
}

/* Customized panel */
#mw-panel .portal .body {background-image: none !important;}
#mw-panel .portal h3 {
	border-bottom: 1px solid #EB8097;
	border-image: linear-gradient(to right, #EB8097, #E88849, #BF9D24, #7CAE58, #25B49A) 1;
	color: #222 !important;
}
#p-sidebar-categoryindex, #t-prefixindex {display: none;}

/* Customized navigation, based on [[U:あめろ/vector.css]] */
#mw-head-base {margin-bottom: .6em;}
#left-navigation, #right-navigation, div.vectorTabs ul li.selected {
	background: #FFFB !important;
	border-radius: 2px;
}
#left-navigation, #right-navigation {
	position: relative;
	z-index: 10;
}
div.vectorTabs ul li:not(.selected):hover, 
div.vectorTabs ul li:not(.selected):focus {
	background: #FFF6 !important;
	border-radius: 2px;
	transition: background ease-in .3s;
}
div.vectorTabs ul li:not(.selected):hover a, 
div.vectorTabs ul li:not(.selected) a:focus {text-decoration: none;}
div.vectorTabs ul li:not(.selected) {transition: background ease-out .3s;}
div.vectorTabs li a, div.vectorMenu h3 span {padding-top: .8em;}
.vectorTabs #ca-unwatch.icon a, 
.vectorTabs #ca-watch.icon a {padding-top: 2.8em;}
.vectorMenu .menu {border-radius: 0 0 2px 2px;}
div#p-cactions li a, 
div#p-cactions li a:hover, 
div#p-cactions li a:focus {
	text-decoration: none;
	transition: background ease-out .3s;
}
#simpleSearch {
	border: none;
	margin-top: .5em;
}
html.sidebarHiddenOn #sidebarHidden-logo-link {
	background-image: none !important;
}

/* Customized Heimu */
.heimu, .heimu rt, .colormu, .colormu rt {
	border-radius: .2rem;
	padding-inline: .2rem;
}

/* Colored QuickEdit */
#bhsd-inspector a {color: #FF30A3;}

/* Other */
body.ns-2 div#catlinks:has(ul) {
	display: revert !important;
	background: #FEF2E7;
	border: #F7AD64 1px solid;
}
span.popup_contribs > a.popupNavLink {display: block;}
#topicpath {
	border: none !important;
	background: #FFFA !important;
	margin: .6em 0 !important;
	box-shadow: 0 -.2em 0 #0002 inset;
}
.mw-body {border: none !important;}